[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
motor = "*"
flask-socketio = "*"
python-dotenv = "*"
flask-limiter = "*"
flask-restful = "*"
pyjwt = "*"
mongoengine = "*"

[dev-packages]

[requires]
python_version = "3.11"
