@tailwind base;
@tailwind components;
@tailwind utilities;
@supports (scrollbar-width: red blue) {
  * {
    scrollbar-width: thin !important;
  }
}
/* .tray::-webkit-scrollbar {
  height: 4px;
}

.tray::-webkit-scrollbar-thumb {
  background: transparent;
}
.tray::-webkit-scrollbar-track {
  background: transparent;
}
.tray::-webkit-scrollbar-thumb:hover {
  background: red;
}
.tray::-webkit-scrollbar-track:hover {
  background: blue;
} */

@layer base {
  :root {
    /* --background: 233 27% 94%; */
    --background: 230 6% 81%;
    --activity-background: 230 8% 85%;
    --foreground: 260 27% 4%;

    --card: 233 27% 94%;
    --card-foreground: 260 27% 4%;

    --popover: 233 27% 94%;
    --popover-foreground: 260 27% 4%;

    --primary: 260 27% 4%;
    --primary-foreground: 233 27% 94%;

    --secondary: 226 8% 33%;
    --secondary-foreground: 233 27% 94%;

    --muted: 226 8% 33%;
    --muted-foreground: 228 12% 57%;

    --accent: 226 8% 33%;
    --accent-foreground: 233 27% 94%;

    --destructive: 349 89% 64%;
    --destructive-cancel: 229 24% 34%;

    --destructive-foreground: 233 27% 94%;

    --border: 228 12% 57%;
    --border-secondary: 230 5% 77%;
    --border-hover: 230 8% 55%;
    --input: 228 12% 57%;
    --success: 166 95% 32%;
    --danger: 0 89% 56%;
    --ring: 260 27% 4%;
    --ring-error: 0 89% 56%;
    --ring-success: 166 95% 32%;
    --radius: 0.5rem;

    --highlighted: 189 73% 52%;
  }
  .dark {
    /* --background: 229 26% 16%; */
    --background: 229 26% 16%;
    --activity-background: 230 24% 19%;
    --foreground: 233 27% 94%;

    --card: 229 26% 16%;
    --card-foreground: 233 27% 94%;

    --popover: 229 26% 16%;
    --popover-foreground: 233 27% 94%;

    --primary: 233 27% 94%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 229 73% 86%;
    --secondary-foreground: 233 27% 94%;

    --muted: 229 73% 86%;
    --muted-foreground: 220 13% 47%;

    --accent: 223 45% 44%;
    --accent-foreground: 233 27% 94%;
    --destructive: 349 89% 64%;
    --destructive-cancel: 229 24% 34%;
    --destructive-foreground: 233 27% 94%;

    --border: 229 73% 86%;
    --border-secondary: 231 26% 14%;
    --border-hover: 228 72% 86%;
    --input: 229 73% 86%;
    --success: 89 51% 61%;
    --error: 349 89% 72%;
    --ring: 212.7 26.8% 83.9%;
    --ring-error: var(--danger);
    --ring-success: var(--success);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}