@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* temporarily, root will be dark css variables until light theme color design system is completed 
  :root {
    --background: 0 0% 100%;
    --foreground:229, 26%, 16%;

    --card: 0 0% 100%;
    --card-foreground:229, 26%, 16%;

    --popover: 0 0% 100%;
    --popover-foreground:229, 26%, 16%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 233 27% 94%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 233 27% 94%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring:229, 26%, 16%;

    --radius: 0.5rem;
  } */

  /* this root is a duplicate of the dark theme variables. This means light and dark theme currently share same colors temporarily*/
  :root {
    --background: 229 26% 16%;
    --foreground: 233 27% 94%;

    --card: 229 26% 16%;
    --card-foreground: 233 27% 94%;

    --popover: 229 26% 16%;
    --popover-foreground: 233 27% 94%;

    --primary: 233 27% 94%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 229 73% 86%;
    --secondary-foreground: 233 27% 94%;

    --muted: 229 73% 86%;
    --muted-foreground: 220 13% 47%;

    --accent: 229 73% 86%;
    --accent-foreground: 233 27% 94%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 233 27% 94%;

    --border: 229 73% 86%;
    --input: 229 73% 86%;
    --success: 349 89% 72%;
    --danger: 89 51% 61%;
    --ring: hsl(212.7, 26.8%, 83.9);
    --ring-error: hsl(var(--danger));
    --ring-success:hsl(var(--success))
  }
  .dark {
    --background: 229 26% 16%;
    --foreground: 233 27% 94%;

    --card: 229 26% 16%;
    --card-foreground: 233 27% 94%;

    --popover: 229 26% 16%;
    --popover-foreground: 233 27% 94%;

    --primary: 233 27% 94%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 229 73% 86%;
    --secondary-foreground: 233 27% 94%;

    --muted: 229 73% 86%;
    --muted-foreground: 220 13% 47%;

    --accent: 229 73% 86%;
    --accent-foreground: 233 27% 94%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 233 27% 94%;

    --border: 229 73% 86%;
    --input: 229 73% 86%;
    --success: 349 89% 72%;
    --error: 89 51% 61%;
    --ring: hsl(212.7, 26.8%, 83.9);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
